/.vscode/*
/topics-C/*.json
/topics-C/.vscode/*.json
*.json
/.vscode/tasks.json
/.vscode/settings.json
/.vscode/c_cpp_properties.json
.vscode
.vscode/c_cpp_properties.json
.vscode/tasks.json
path.txt
