/.vscode/*
/topics-C/*.json
/topics-C/.vscode/*.json
*.json
/.vscode/tasks.json
/.vscode/settings.json
/.vscode/c_cpp_properties.json
.vscode
.vscode/c_cpp_properties.json
.vscode/tasks.json
path.txt
*.exe
*.obj
/Basic/*.obj
/Basic/*.exe
/LinkedLists/*.obj
/LinkedLists/*.exe
/Sort/*.obj
/Sort/*.exe
/Struct/*.obj
/Struct/*.exe
